<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NetGifs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>DETALHES DO GIF ANIMADO</strong>
            
        </div>
        
        <p>
          <img th:src="${gif.urlGif}" height="100" width="100"/>
        </p>        
        
        <label>Descrição:</label>
        <p th:text="${gif.descricao}"></p>

        <label>Genero:</label>
        <p th:text="${gif.genero}"></p>

        <label>Faixa Etária:</label>
        <p th:text="${gif.faixaEtaria}"></p>

        <label>Idioma:</label>
        <p th:text="${gif.idioma}"></p>
     </div>
     <div>
       <form class="form-horizontal" th:object="${gif}" th:action="@{/exibirfull}" method="POST" style="margin: 10px">
                <div class="form-group row">
                    <input type="hidden" th:object="${gif}"/>
                    <input type="hidden" th:field="${gif.urlGif}"/>                    
                    <button type="submit" class="btn btn-sm btn-primary">Assistir</button>
                </div>
        </form>
       <form class="form-horizontal" th:object="${gif}" th:action="@{/addfavorito}" method="POST" style="margin: 10px">
                <div class="form-group row">
                    <input type="hidden" th:object="${gif}"/>
                    <input type="hidden" th:field="${gif.urlGif}"/>                    
                    <input type="hidden" th:field="${gif.descricao}"/>
                    <input type="hidden" th:field="${gif.genero}"/>                    
                    <input type="hidden" th:field="${gif.faixaEtaria}"/>                    
                    <input type="hidden" th:field="${gif.idioma}"/>                    
                    <button type="submit" class="btn btn-sm btn-primary">Adicionar aos Favoritos</button>
                </div>
        </form>
        
     </div>
</body>
</html>