<div class="container-fluid">
  <div class="row" id="main-row">
    <div class="col-md-4 sidebar" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Blog da Venus</h1>
          <h3>Aprendendo na Prática</h3>
        </div>
        <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand hidden-md-up" href="#">Menu</a>
          <div class="navbar-collapse collapse" id="menu-links-interno">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#sobre-mim">Sobre Nós</a>
              <a class="nav-item nav-link" href="#artigos">Artigos</a>
              <a class="nav-item nav-link" href="#contato">Contato</a>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="col-md-8 offset-md-4" id="conteudo">
      <div class="col-sm-12">
        <article id="sobre-mim" class="row">
          <h1>Sobre Mim</h1>
          <div>
            Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília 
            Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília 
            Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília 
            Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília Sou Mãe da Cecília 
          </div>
        </article>
      </div>
      <section id="artigos" class="row">
        <div class="col-md-6">
          <div class="p-3"></div>
          <article id="card artigo">
            <div class="card-block">
              <h2 class="card-title">Artigo 1</h2>
              <p class="card-text">
                Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 
                Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 
                Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 Esse é o Artigo 1 
              </p>
              <button class="btn secondary btn-sm">Ler mais</button>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <div class="p-3"></div>
          <article id="card artigo">
            <div class="card-block">
              <h2 class="card-title">Artigo 2</h2>
              <p class="card-text">
                Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2
                Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 
                Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 Esse é o Artigo 2 
              </p>
              <button class="btn btn-secondary btn-sm">Ler mais</button>
            </div>
          </article>
        </div>
      </section>
      <app-contato></app-contato>
    </div>
  </div>
</div>