<div class="container-fluid">
    <div class="row" id="main-row">
      <div class="col-md-4 sidebar" id="menu">
        <header>
          <div id="menu-titulo">
            <h1>Blog Venus</h1>
            <h2><i>Aprendendo na Pratica</i></h2>
          </div>
          <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand hidden-md-up" href="#">menu</a>
            <div class="navbar-collapse collapse" id="menu-links-interno">  
               <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="#sobre-mim">sobre</a>
                  <a class="nav-item nav-link" href="#artigos">artigos</a>
                  <a class="nav-item nav-link" href="#contato">contato</a>
               </div>
            </div>
          </nav>     
        </header>
      </div>
      <div class="col-md-8 offset-md-4" id="conteudo">
        <article id="sobre-mim" class="row">
         <div class="col-md-12"> 
           <h1>Sobre Mim</h1>
           <div>Sou mãe da Cecília , sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília 
           </div>
         </div>  
        </article>
        <section id="artigos" class="row">
          <div class="col-md-6">
            <div class="p-3"></div>
            <article class="card artigo">
              <div class="card-block">
                <h2 class="card-title">Artigo 1</h2>
                <p class="card-text">Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 </p> 
                <button class="btn btn-primary">ler mais</button>
              </div>
            </article>
          </div>
          <div class="col-md-6">
            <div class="p-3"></div>
            <article class="card artigo">
              <div class="card-block">
                <h2 class="card-title">Artigo 2</h2>
                <p class="card-text">Esse é o texto do Artigo 2 Esse é o texto do Artigo 2 Esse é o texto do Artigo 2 Esse é o texto do Artigo 2 Esse é o texto do Artigo 2 Esse é o texto do Artigo 2 </p>  
                <button class="btn btn-primary">ler mais</button>
              </div>
            </article>
          </div>        
        </section>
        <app-contato></app-contato>
      </div>
    </div>
   </div>

