<div class="container-fluid">
    <div class="row">
      <div class="col-md-4" id="menu">
        <header>
          <div id="menu-titulo">
            <h1>Blog Venus</h1>
            <h2><i>Aprendendo na Pratica</i></h2>
          </div>
          <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand hidden-md-up" href="#">menu</a>
            <div class="navbar-collapse collapse" id="menu-links-interno">  
               <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="#sobre-mim">sobre</a>
                  <a class="nav-item nav-link" href="#artigos">artigos</a>
                  <a class="nav-item nav-link" href="#contato">contato</a>
               </div>
            </div>
          </nav>     
        </header>
      </div>
      <div class="col-md-8" id="conteudo">
        <article id="sobre-mim">
        <h1>Sobre Mim</h1>
        <div>Sou mãe da Cecília , sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília, sou mãe da Cecília 
        </div>
        </article>
        <section id="artigos">
          <article class="artigo">
            <h1>Artigo 1</h1>
            <div>Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1 Esse é o texto do Artigo 1            
            </div>
            <button>ler mais</button>
          </article>
          conteudo
        </section>
      </div>
    </div>
   </div>

