<section id="contato" class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h1 class="card title">Contato</h1>
        <p class="card-text">Texto do Contato Texto do Contato</p>
        <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
		      <div class="form-group">
		        <input type="text" class="form-control"
			      formControlName="nome" placeholder="nome" required>
		      </div>
		      <div class="form-group">
		        <input type="email" class="form-control"
			      formControlName="email" placeholder="e-mail" required>
		      </div>
          <div class="form-group">
             <textarea class="form-control"
             formControlName="texto" rows="3"
             placeholder="deixe um comentario"
             required minlength="5" maxlength="100"></textarea>
          </div>			 
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </form>
      </div>   
    </div>
  </div>  
</section>  	