<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NetGifs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script language="javascript">
function janelacheia(){
//	var Prop = "scrollbars=yes, toolbar=no, location=no, resizable=yes, directories=no, status=yes, menubar=no";
//	var Sec = window.open("paginafull.html","Sec",Prop);
	window.resizeTo(screen.width,screen.height);
	window.moveTo(0,0);
}
</script>

<script>
window.onload = janelacheia();

</script>


</head>
<body>
    <div class="panel panel-default">
        <p>
          <img th:src="${gif.urlGif}"/>
        </p>        
        
     </div>
</body>
</html>