<section id="contato" class="row">
  <div class="col-sm-12">
    <div id="conteudo">
      <div class="card-block">
        <h1 class="card-title">Contato</h1>
        <p class="card-text">
          Entre em contato.
        </p>
        <div *ngFor="let err of listaErros;">
          <div class="alert alert-danger">{{err.texto}}</div>
        </div>
        <div *ngFor="let err of listaResultado;">
          <div [ngClass]="{'alert-sucess': err.sucesso, 'alert-danger': !err.sucesso}" 
          class="alert">{{err.texto}}</div>
        </div>
        <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="nome" placeholder="nome" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="e-mail" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" formControlName="texto" rows="3" placeholder="deixe um comentário" required minlength="5"
              maxlength="100"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>